/*.piano {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}*/

.piano {
    height: 50vh;
    width: 200%;
    display: flex;
    justify-content: center;
}

.white {
    width: 9%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
}

.white:hover {
    background: #ffffff;
    box-shadow: 0 0 5px #c5c5c5, 0 0 25px #6b6b6b,
     0 0 50px #585858;
     transition: 300ms;
    
}

.white:active {
    background-color: #c2c2c2;
}

.black {
    width: 8%;
    height: 45%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
    border-radius: 0px 0px 35px 35px;
    border-right: solid white;
    border-left: solid  white;
}

.black:hover {
    background-color: rgb(255, 1, 1);
}

.black:active {
    background-color: #00aafa;
}
