<!DOCTYPE html>     
<html lang="fr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link href="static/CSS/style_acc.css" rel="stylesheet" type="text/css" />
    <title>Well Played Music - Acceuil</title>
    <link rel="icon" type="image/png" sizes="16x16" href="static/iconewellplaymusicfinalversion.png" />
  </head>
  <body>
    <div id="top-menu">
      <strong>
        <a class="active" onclick="window.location.href = '/'">Accueil</a>
        <b aria-label="logo" href="/"><img src="static/iconewellplaymusicfinalversion.png" alt="well played Music logo" width="50" height="50"></b>
        <a onclick="window.location.href = '/jouer'">Jouez</a>
      </strong>
    </div>
    <div id="en-tete">
      <header>
        <br>
        <h1><p>Well Played Music</p></h1>
        <h3><p>par le groupe de NSI Saint-Genès LaSalle Bordeaux</p></h3>
      </header>
    </div>
    <br>
    <main id="page_main">
      <article>
        <div class="zone_gauche">
          <p>
            Qui sommes-nous ? <br><br>
            Nous sommes une classe de terminale en spécialité N.S.I (Numérique et Science de l’Informatique)
            au lycée Saint-Genès LaSalle à Bordeaux. Afin de clôturer notre année par un projet, nous avons décidé de
            nous lancer un défi : créer un site web  musical et intéractif, nécessitant de nombreuses compétences dans des domaines
            bien variés (musique, design, programmation, etc…) ! <br>
            Notre équipe est constituée de la promotion
            2021-2022 au grand complet : Arthur Exposito, Victor Balu, Simon Dumesny et Guillaume Ozoux ; et
            oui, le succès de la spécialité NSI est tellement grand que nous ne sommes que 4 (avec la précieuse aide de notre professeur Joël Rivet !!
          </p>
        </div>
      </article>
        <article>
            <div class="zone_droite">
                <img src="static/img_nsi_1.jpg">
            </div>
        </article>
    </main>

      <div class="bas_de_page">
        <a href="https://www.instagram.com/arthur_expst/?hl=fr" target=_blank>Arthur Exposito</a>
        <a href="https://www.instagram.com/simon.dmy/?hl=fr" target=_blank>Simon Dumesny</a>
        <a href="https://www.instagram.com/ozouxguillaume/?hl=fr" target=_blank>Guillaume Ozoux</a>
        <a href="https://www.instagram.com/vic_b.dx/?hl=fr" target=_blank>Victor Balu</a>
      </div>

    <script src="static/JS/main.js"></script>
  </body>
</html>
