<!DOCTYPE html>     
<html lang="fr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Well Played Music - Acceuil</title>
  </head>
  <body>
    <div id="top-menu">
      <strong>
        <a href="acceuil.html" class="active">Acceuil</a>
        <a href="index.html">Jouer</a>
        <a href="credit.html">Crédits</a>
        <a href="#" style="text-size-adjust: 10px;">(on peut rajouter des onglets ici)</a>
      </strong>
    </div>
    <div id="en-tete">
      <header>
        <h1><p>Well Played Music</p></h1>
        <h3><p>par NSI gang</p></h3>
      </header>
    </div>
    <br>
    <main id="page_main">
      <article style="color:rgb(255,255,255);">
        <div class="text-gauche">
          <p style="color:rgb(0,0,0); text-align:justify; font-size: 25px;">
            Qui sommes-nous ? <br><br>
            Nous sommes une classe de terminale en spécialité N.S.I (Numérique et Science de l’Informatique)
            du lycée Saint-Genès à Bordeaux. Afin de clôturer notre année par un projet, nous avons décidé de
            nous lancer un défi : créer un site web qui nécessite de nombreuses compétences dans des domaines
            bien variés (musique, design, programmation, etc…) ! <br>
            Notre équipe est constituée de la promotion
            2021-2022 au grand complet : Arthur Exposito, Victor Balu, Simon Dumesny et Guillaume Ozoux ; et
            oui, le succès de la spécialité NSI est tellement grand que nous ne sommes que 4 !
          </p>
          <label>gg</label>
        </div>
      </article>
    </main>

      <div class="bas_de_page">
        <a href="https://www.instagram.com/arthur_expst/?hl=fr" target=_blank>Arthur Exposito</a>
        <a href="https://www.instagram.com/simon.dmy/?hl=fr" target=_blank>Simon Dumesny</a>
        <a href="https://www.instagram.com/ozouxguillaume/?hl=fr" target=_blank>Guillaume Ozoux</a>
        <a href="https://www.instagram.com/vic_b.dx/?hl=fr" target=_blank>Victor Balu</a>
      </div>

    <script src="static/JS/main.js"></script>
  </body>
</html>
