<!DOCTYPE html>     
<html lang="fr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link href="static/CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="static/CSS/pinao.css" rel="stylesheet" type="text/css" />
    <title>Well Played Music</title>
  </head>
  <body>
    <div id="top-menu">
      <strong>
        <a href="index.html" class="active">Acceuil</a>
        <a href="trou_noir.html">Jouez</a>
        <a href="nebu.html">Crédits</a>
        <a href="#" style="text-size-adjust: 10px;">(on peut rajouter des onglets ici)</a>
      </strong>
    </div>
    <div id="en-tete">
      <header>
        <h1><p>Well Played Music</p></h1>
        <h3><p>par NSI gang</p></h3>
      </header>
    </div>
    <br>
    <main id="page_main">
      <article style="color:rgb(255,255,255);">
        <div class="container">
          <div class="piano">
            <div onclick="playMusic('do1 dièse-18')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-02')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-01')" class="black" data-note="C"></div>
            <div onclick="playMusic('')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-15')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-13')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-06')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-05')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-21')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-20')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-10')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-09')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-19')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-04')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-03')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-17')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-16')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-14')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-08')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-07')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-23')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-22')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-12')" class="white" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-11')" class="black" data-note="C"></div>
            <div onclick="playMusic('do1 dièse-1')" class="white" data-note="C"></div>
        </div>
    
        </div>
      </article>
    </main>
    <footer>
      <div class="bas_de_page">
        <a href="https://www.instagram.com/arthur_expst/?hl=fr" target=_blank>Arthur Exposito</a>
      </div>
    </footer>
    <script src="static/JS/main.js"></script>
  </body>
</html>
